{% if albumsPaged is not empty %}
    <ul>
        {% for album in albumsPaged %}
            <li><a href="{{ path('albumview',{'codeAlbum': album.codeAlbum}) }}">{{ album.titreAlbum }}</a></li>
        {% endfor %}
    </ul>


    {# Pager #}
    {% if pager.haveToPaginate %}
        <ul class="pagination">

            {# back #}
            {% set state = '' %}
            {% if  pager.getCurrentPage()  == 1 %}
                {% set state = 'disabled' %}
            {% endif %}
            <li class="{{ state }}"><a href="#" rel="ChangePage" data-instrument="{{ instrument.codeInstrument }}" data-page="{{ pager.getCurrentPage() -1 }}">&laquo;</a></li>

            {# pages 1 2 3 ... #}
            {% for givenPage in 1..pager.getNbPages() %}
                {% set state = '' %}
                {% if  pager.getCurrentPage()  == givenPage %}
                    {% set state = 'active' %}
                {% endif %}
                <li class="{{ state }}"><a href="#" rel="ChangePage" data-instrument="{{ instrument.codeInstrument }}" data-page="{{ givenPage }}">{{ givenPage }}</a></li>
            {%  endfor %}

            {# forward #}
            {% set state = '' %}
            {% if  pager.getCurrentPage() == pager.getNbPages() %}
                {% set state = 'disabled' %}
            {% endif %}
            <li class="{{ state }}" ><a href="#" rel="ChangePage" data-instrument="{{ instrument.codeInstrument }}" data-page="{{ pager.getCurrentPage() + 1 }}">&raquo;</a></li>
        </ul>
    {% endif %}
{% else %}
    <p>Pas d'albums pour ces paramètres</p>
{% endif %}