{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/projetwebclassique/css/autocompletion.css') }}">

{% endblock %}
{% block title %}
    Liste Compositeurs
{% endblock %}

{% block classiqueweb_body %}

    <div class="row">
        <h2>Liste des Compositeurs</h2> <br/>




    </div>






    <div>
        <div class="row">
        Sélection {{ contexte }} :
        {% if initial is defined %}
            {{ initial }}
        </div>
        <ul class="pagination">
            {% for letter in 'a'|upper..'z'|upper %}
                <li><a href="{{ path('compositeursinitial', { 'initial' : letter }   ) }}">{{ letter }}</a></li>
            {% endfor %}
        </ul>
        <br/><br/>
            {{ form_start(form, { 'attr' : { 'class' : 'form-inline'} }) }}
                {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.initial) }}
                {{ form_errors(form.initial) }}
                {{ form_widget(form.initial, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Initial de votre compositeur' }}) }}

                {{ form_widget(form.go, { 'attr' : { 'class' : 'btn btn-default'}}) }}
            </div>


            {{ form_end(form) }}
        <br/>
        {% elseif contexte == "par année de naissance" %}
            entre {{ naissance }} et {{ fin }}
        {% elseif contexte == "Tous" %}

            <form class="form-inline">
                <div class="form-group">
                    <label for="RechercheCompositeur">Recherchez votre compositeur ( nom )</label>
                    <input type="text" class="form-control" placeholder="Compositeur" id="compopletion" />
                </div>
            </form>
            <br/>

        {% endif %}

    </div>

    <ul>
        {%  for musicien in pager.currentPageResults  %}

            <li>
            <a href="{{ path('compositeurview',{'codeMusicien': musicien.codeMusicien }) }}">{{ musicien.nomMusicien }} {{ musicien.prenomMusicien }} ( {{ musicien.anneeNaissance }} - {{ musicien.anneeMort }} ) </a>
            </li>
        {%  endfor  %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3', { 'pageParameter': '[page]' } ) }}
    </div>


{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/projetwebclassique/js/jquery.autocomplete.min.js') }}"></script>
        <script>
            $( function() {
                $('#compopletion').autocomplete({
                    serviceUrl: '{{ path( 'compositeurssearch' ) }}',
                    dataType: 'json',
                    onSelect: function (suggestion) {
                        location.href = "/ProjetWebServeur/web/app_dev.php/compositeur/"+suggestion.data;
                        //return false;
                    }
                });
            } );
        </script>

    {% endblock %}