{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Liste Chefs
{% endblock %}

{% block classiqueweb_body %}

    <h2>Liste des Chefs D'orchestre</h2>

    <p>Sélection {{ contexte }} :
        {% if initial is defined %}
            {{ initial }}
        {% elseif contexte == "par année de naissance" %}
            entre {{ naissance }} et {{ fin }}
        {% endif %}

    </p>


    <ul>
    {%  for musicien in pager.currentPageResults  %}

    <li>
    <a href="{{ path('projet_web_classique_cheforchestrepage',{'codeMusicien': musicien.codeMusicien }) }}">{{ musicien.nomMusicien }} {{ musicien.prénomMusicien }}</a>
    </li>
    {%  endfor  %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>

{% endblock %}