{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Instrument
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Instrument</h1>

    <div class="row">
        <div class="col-lg-2">
            <img src="{{ image }}" class="img-circle" width="100px" height="100px">
        </div>
        <div class="col-lg-5">
            <div class="row">
                <span class="text-info" id="code" data-instrument="{{ instrument.codeInstrument }}">Code :</span>{{ instrument.codeInstrument }}
            </div>
            <div class="row">
                <span class="text-info">Nom : </span>{{ instrument.nomInstrument }}
            </div>
        </div>
    </div>



    <h2 class="text-info">Albums de cet instrument </h2>

    <div id="albums">

    </div>

    <h2 class="text-info"> Interpretes de cet instrument</h2>

    <div id="interpretes">

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function handleInterpretesPaginator() {
            $( 'a[rel="ChangeInterpretePage"]' ).on( "click", function() {
                var url = $( this ).data( "url" );
                loadInterpretesPage( url );
                return false;
            });
        }

        function loadInterpretesPage( url ) {
            $( '#interpretes' ).html( '<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">' );
            $( "#interpretes" ).load( url, function() {
                handleInterpretesPaginator();
            } );
        }

        function handleAlbumsPaginator() {
            $( 'a[rel="ChangePage"]' ).on( "click", function() {
                var url = $( this ).data( "url" );
                loadAlbumsPage( url );
                return false;
            });
        }

        function loadAlbumsPage( url ) {
            $( '#albums' ).html( '<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">' );
            $( "#albums" ).load( url, function() {
                handleAlbumsPaginator();
            } );
        }

        $( function() {
            loadAlbumsPage( "{{path("albumInstrument", { codeInstrument:instrument.codeInstrument }) }}");
            loadInterpretesPage( "{{path("interpretesinstrument", { codeInstrument:instrument.codeInstrument }) }}");
        } );
    </script>
{% endblock %}



