<div class="row">
    <div class="col-lg-2">
        <img src="{{ image }}" class="img-circle" width="100px" height="100px">
    </div>
    <div class="col-lg-5">
        <div class="row">
            <span class="text-info" id="code" data-musicien="{{ musicien.codeMusicien }}">Code :</span>{{ musicien.codeMusicien }}
        </div>
        <div class="row">
            <span class="text-info">Nom :</span>{{ musicien.nomMusicien }}
        </div>
        <div class="row">
            <span class="text-info">Prénom :</span>{{ musicien.prénomMusicien }}
        </div>
        <div class="row">
            <span class="text-info">Naissance :</span>{{ musicien.anneeNaissance }}
        </div>
        <div class="row">
            <span class="text-info">Mort :</span>{{ musicien.anneeMort }}
        </div>
        <div class="row">
            <span class="text-info">Pays :</span>{{ musicien.codePays.nomPays }}
        </div>
    </div>
</div>