{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/projetwebclassique/css/autocompletion.css') }}">

{% endblock %}
{% block title %}
    Genres
{% endblock %}

{% block classiqueweb_body %}

    <h2>Liste des Genres</h2>

    <div>
        <div class="row">
            Sélection {{ contexte }} :
            {% if initial is defined %}
            {{ initial }}
        </div>

        <ul class="pagination">
            {% for letter in 'a'|upper..'z'|upper %}
                <li><a href="{{ path('genresinitial', { 'initial' : letter }   ) }}">{{ letter }}</a></li>
            {% endfor %}
        </ul>

        <br/>


        {% elseif contexte == "Tous" %}

            <form class="form-inline">
                <div class="form-group">
                    <label for="RechercheGenre">Recherchez votre Genre ( nom, un petit peu lent )</label>
                    <input type="text" class="form-control" placeholder="Genre" id="compopletion" data-urlpattern="{{ path("genreview", { codeGenre: 9999  } ) }}"/>
                </div>
            </form>
            <br/>

        {% endif %}

    </div>


    <ul>
        {%  for genre in pager.currentPageResults  %}

            <li>
                <a href="{{ path('genreview',{'codeGenre': genre.codeGenre }) }}">{{ genre.libelleAbrege }}</a>
            </li>
        {%  endfor  %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/projetwebclassique/js/jquery.autocomplete.min.js') }}"></script>
    <script>
        $( function() {
            $('#compopletion').autocomplete({
                serviceUrl: '{{ path( 'genressearch' ) }}',
                dataType: 'json',
                onSelect: function (suggestion) {
                    location.href = $(this).data('urlpattern').replace(9999, suggestion.data);
                    return false;
                }
            });
        } );
    </script>

{% endblock %}